<h1>I am a new recipe!</h1>

<form method="POST" action="/new">
  <p>Recipe Name: <input type="text" name="recipe_name"></p>
  <p>Recipe Description: <input type="text" name="recipe_description"></p>
  <p>Recipe Prep_Time: <input type="text" name="recipe_preptime"></p>
  <p>Recipe Difficulty: <input type="text" name="recipe_difficulty"></p>

  <input type="submit">
</form>

<!-- p  r = Recipe.new(name,description,"20 min",5,false)
 -->



